.list-entreprise {
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 90vh;
    width: auto;
}

.nos-client {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.text-color1 {
    color: #000080; /* Couleur blanche pour le mot "Nos" */
    font-weight: bold;
}

.text-color2 {
    color: #0099FF; /* Couleur bleue pour le mot "Offres" */
    font-weight: bold;
    margin-left: 10px;
}

.carte-entreprise {
    margin-top: 30px;
    height: 300px;
    width: 250px;
    box-shadow: 0px 2px 4px #cccccc;
    padding: 20px 25px 15px 25px;
    margin-left: 40px;
    background-color: #f2f2f2;
    padding-top: 25px;
}

.nom-entreprise {
    margin-left: 15px;
    color: #000080;
    font-weight: bold;
}

.list-entreprise .carte-entreprise p {
    display: flex;
    align-items: center; /* Aligne verticalement le texte et l'icône */
  }
  
  .list-entreprise .carte-entreprise p i {
    margin-right: 10px; /* Espacement entre l'icône et le texte */
  }

.info {
    margin-top: 30px;
}
  
.detail {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 40px;
    border: 1px solid #0099FF;
    padding-top: 8px;
    color: #0099FF;
    margin-top: 30px;
}

.en-savoir-plus:hover {
    border-color: #0099ff;        /* Changement de la bordure au survol du conteneur */
}

.en-savoir-plus button:hover {
    background-color: #0099ff;    /* Couleur du fond au survol */
    color: #ffffff;               /* Couleur du texte au survol */
}

.voir-plus {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.voir-plus button {
    width: 200px;
    height: 40px;
    border: 1px solid #000080;
    color: #000080;
    font-weight: bold;
}

.voir-plus:hover {
    border-color: #000080;        /* Changement de la bordure au survol du conteneur */
}

.voir-plus button:hover {
    background-color: #000080;    /* Couleur du fond au survol */
    color: #ffffff;               /* Couleur du texte au survol */
}