/* Style général du header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000080;
    color: white;
}

.logo {
    height: 50px;
}

.links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.links a:hover {
    text-decoration: underline;
}

/* Section de l'utilisateur */
.user-section {
    position: relative;
}

.user-info {
    /* display: flex; */
    align-items: center;
    cursor: pointer;
}

.user-avatar {
    margin-right: 10px;
    font-size: 24px;
}

.user-name {
    font-weight: bold;
    margin-right: 10px;
}

/* Style du menu déroulant */
/* Style du menu déroulant */
.dropdown-menu {
    background-color: transparent; /* Couleur de fond personnalisée */
    border: none; /* Suppression de la bordure */
    padding: 0; /* Pas de padding par défaut */
    margin: 0; /* Pas de margin par défaut */
    z-index: 1000; /* Assure que le dropdown est au-dessus des autres éléments */
    position: absolute; /* Positionnement absolu */
    top: 100%; /* Juste en dessous de l'élément parent */
    left: 0; /* Alignement à gauche */
    width: 120px; /* Largeur personnalisée */
    margin-top: 12px; /* Espace au-dessus du dropdown */
    display: block; /* S'assurer que le dropdown s'affiche comme un bloc */
}

.dropdown-menu li {
    display: block; /* Chaque élément s'affiche sur une nouvelle ligne */
    width: 100%; /* Prend toute la largeur du dropdown */
}

.dropdown-menu a,
.dropdown-menu button {
    padding: 10px; /* Espacement autour du texte */
    text-align: left; /* Alignement du texte à gauche */
    width: 100%; /* Prend toute la largeur du dropdown */
    border: none; /* Pas de bordure par défaut */
    background: none; /* Pas de fond par défaut */
    cursor: pointer; /* Changement du curseur pour indiquer que c'est cliquable */
    text-decoration: none; /* Pas de soulignement pour les liens */
    color: white; /* Couleur du texte */
}

.my-custom-dropdown {
    width: 120px !important; /* Ou sans !important, selon les besoins */
}


.dropdown-menu a:hover, 
.dropdown-menu button:hover {
    background-color: #f0f0f0; /* Changer la couleur de fond au survol */
    color: black; /* Change la couleur du texte lors du survol */
}

